//variable

//background
$bgColor: #81C784

//font
$font-size: 4rem
$font-color:#FFF8E1
$font2-color:#FBC02D
$font-style: 'Oswald', sans-serif
$font-weight: 600

//circle
$circle-color:#4DD0E1
$circle2-color:#E6EE9C
$bord-color:#C2185B


//Mixin
=Circle($height,$width,$bg,$radi,$color)

    height: $height
    width: $width
    
    border-radius: $radi
 
    line-height: $height

    background: $bg
    margin: 0 auto

    text-align: center
    color: $color

//Style
body
    background-color: $bgColor
    font-size: $font-size
    color: $font-color
    font-family: $font-style
    font-weight: $font-weight

footer
    +Circle(300px,300px,$circle2-color,100%,$font2-color)
    margin-top: 20px
    
//class
.Cir 
    +Circle(300px,300px,$circle-color,100%,$font-color)
    border-style: double
