$bgColor: red
$font-size: 14px
$font-color:white
$font-style: 'Andale Mono',monospace
    
//Mixin
=Circle($height,$width,$bg,$radi,$color)

    height: $height
    width: $width
    
    border-radius: $radi
    
    line-height: $height

    background: $bg
    margin: 0 auto

    text-align: center

//Style
body
    background-color: $bgColor
    font-size: $font-size
    color: $font-color

